{% extends "base.html" %}
{% block content %}
<h2>控制台 — {{ user['login'] }}</h2>
<section class="card">
  <h3>你的包</h3>
  {% if packages %}
    <ul>
      {% for p in packages %}
        <li><a href="{{ url_for('package_view', name=p['name']) }}">{{ p['name'] }}</a></li>
        <form action="{{ url_for('delete_package', name=p['name']) }}" method="post" style="display:inline;">
            <button type="submit" onclick="return confirm('确定要删除 {{p['name']}} 包吗？此操作不可恢复！');"
                    class="btn btn-danger btn-sm">
                删除
            </button>
        </form>
        {% endfor %}
    </ul>
  {% else %}
    <p class="muted">你还没有创建包。</p>
  {% endif %}
</section>

<section class="card">
  <h3>上传包版本</h3>
  <p class="muted">去 <a href="{{ url_for('upload') }}">上传页面</a> 上传 zip 或 整个文件夹</p>
</section>
{% endblock %}
